@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Rubik:ital,wght@0,400;1,300&display=swap');

/* Reset the margins, paddings, and borders */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #E6F4FF;
}

/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #252525;
}


#logo{
    float: left;
    font-size: 260%;

}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* To vertically align the menu and the logo */

#menu, #logo{
    line-height: 75px;
}

/*menu hover animation*/

#menu a:hover{
border-bottom: 1px solid #3a3a3a;
}


/*Active page underline*/
.active{
    border-bottom: 1px solid #3a3a3a;
}

/*Section hero*/

#section-hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

#hero-image{
    background: url('../images/pexels-li-sun-2294361\ \(1\).jpg') no-repeat center center;
    height: 600px;
    width: 100%;
    z-index: 2;
    background-size: cover;
}